.card {
    border: 5px solid #FFC107;
    border-radius: 15px;
    box-shadow: 5px, 5px, 5px black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.card .card-image {
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.card .card-title {
    margin: 0;
    color: black;
}
